<div class="page-header">
  <h1>
    Red Wines
    <a href="/wines/new" class="btn btn-lg btn-success">New Red</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Category</th>
        <th>Name</th>
        <th>User</th>
        <th>Fellow imbibers</th>
        <th>Favorite</th>
        <th>Year</th>
        <th>Rating</th>
        <th>Notes</th>
        <th>Grape</th>
        <th>Country</th>
        <th>Photo</th>
        <th>Actions</th>
      </tr>

      <% @reds.each do |red| %>
      <tr>
        <td><%= red.name %></td>
        <td><%= red.user_id %></td>
        <td><%= red.fellow_imbibers %></td>
        <td><%= red.favorite %></td>
        <td><%= red.year %></td>
        <td><%= red.rating %></td>
        <td><%= red.notes %></td>
        <td><%= red.grape %></td>
        <td><%= red.country %></td>
        <td><%= red.photo %></td>
        <td>
          <a href="/reds/<%= red.id %>" class="btn btn-primary">Show</a>
          <a href="/reds/<%= red.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_red/<%= red.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>