<div class="page-header">
  <h3>Wine #<%= @wine.id %></h3>
</div>

<div class="row">
  <div class="col-s-12">
    <dl class="dl-horizontal">


   
      <tr>
        <td><img src="<%= @wine.photo %>" width="150" class="img-responsive"></td>

      <dt>Category</dt>
      <dd><%= @wine.category %></dd>

      <dt>Name</dt>
      <dd><%= @wine.name %></dd>

      <dt>Favorite</dt>
      <dd><%= @wine.favorite %></dd>

      <dt>Year</dt>
      <dd><%= @wine.year %></dd>

      <dt>Notes</dt>
      <dd><%= @wine.notes %></dd>

      <dt>Grape</dt>
      <dd><%= @wine.grape %></dd>

      <dt>Country</dt>
      <dd><%= @wine.country %></dd>

      </tr>

      </dl>

      </div>
      </div>

      
      <div class="btn-group btn-group-xs btn-group-middle">
      <a class="navbar-brand" href="/wines"> 
        <i class="fa fa-chevron-left"></i>
        Back
        </a>
        <a class="navbar-brand" href="/wines/<%= @wine.id %>/edit"> 
        <i class="fa fa-pencil"></i>
        Edit
        </a>
      <a class="navbar-brand" href="/delete_wine/<%= @wine.id %>"> 
        <i class="fa fa-trash"></i>
        Delete
        </a>
    </div>
  

